NODE_ENV=development
HOST=0.0.0.0
PORT=3003
SERVICE_VERSION=local-dev
ENVIRONMENT=local

LOG_ENABLED=true
LOG_FORMAT=pino-pretty
MONGO_URI="mongodb://localhost:27017/?replicaSet=rs0&directConnection=true"
MONGO_DATABASE=forms-audit-api
LOG_LEVEL=debug

HTTP_PROXY=
CDP_HTTPS_PROXY=

ENABLE_SECURE_CONTEXT=false
ENABLE_METRICS=false

OIDC_JWKS_URI=http://localhost:5556/.well-known/openid-configuration/jwks
OIDC_VERIFY_AUD=local-test-client
OIDC_VERIFY_ISS=http://oidc:80
ENTITLEMENT_URL=http://localhost:3004
TRACING_HEADER=x-cdp-request-id

SQS_ENDPOINT=http://localhost:4566
AWS_REGION=eu-west-2
EVENTS_SQS_QUEUE_URL=http://sqs.eu-west-2.127.0.0.1:4566/000000000000/forms_audit_events
EVENTS_SQS_DLQ_ARN=arn:aws:sqs:eu-west-2:000000000000:forms_audit_events-deadletter
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
RECEIVE_MESSAGE_TIMEOUT_MS=5000
SQS_MAX_NUMBER_OF_MESSAGES=10
SQS_VISIBILITY_TIMEOUT=30

CACHE_ENABLED=true
